<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chensuworks.database">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".simple.SimpleDatabaseActivity">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
        </activity>

        <activity android:name=".pettracker.activity.PetTrackerEntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pettracker.activity.PetTrackerActivity" />
        <activity android:name=".pettracker.activity.PetTrackerListActivity" />

    </application>

</manifest>
