<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chensuworks.service">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- activities -->
        <activity android:name=".intentservice.IntentServiceActivity" />
        <activity android:name=".plainservice.PlainServiceActivity" />

        <activity android:name=".aidl.AidlActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- services -->
        <service android:name=".intentservice.SimpleIntentService" />
        <service android:name=".aidl.ProcessTextService" />

        <service android:name=".plainservice.SimplePlainService" android:enabled="true">
            <intent-filter>
                <action android:name="com.chensuworks.plainservice.SERVICE" />
            </intent-filter>
        </service>

    </application>

</manifest>
